<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qf.mrmf.dao.CampusDao">
    <select id="findCampus" resultType="com.qf.mrmf.entity.Campus">
        select  * from tb_campus_info
    </select>
</mapper>
